
.logincontainer{
    width: 22rem;
    height: 35rem;
    padding: 1.5rem 3rem 1.5rem 2.5rem;
    border: 1px solid ;
    border-radius: 12px;
    margin: 2.5rem auto;
}

.heading{
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.7rem;
    clear: right;
    margin-bottom: 0;
}

.icon{
    float: right;
    margin-bottom: 1rem;
  
}

.passworddiv{
    margin-left: 1.5rem;
}

.label{
    font-size: 0.75rem;
    color: #797979;
    
}

#password{
    background-color: #F3F3F3;
    width: 15rem;
    padding: 1rem;
    height: 3rem;
    border-radius: 12px;
    border: none;
    margin-top: 0.75rem;
}

#phoneno::placeholder, #password::placeholder{
    color: rgba(121, 121, 121, 0.5);
}

.checkboxcontainer{
    display: flex;
    justify-content: space-between; 
    margin: 1rem auto; 
    padding: 0 1rem; 
    align-items: center; 
}

#checkbox{
    margin-right: 0.5rem;
}

.span{
    font-size: small; 
}

#login{
    padding: 1rem 6rem ;
    color: white;
    font-size: 1rem;
    text-align: center;
    margin: 0 auto;
    border: none;
    border-radius: 12px;
    background-color: #8D74F4;
    display: block;
    height: 3rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

.foot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.foot p{
    font-size: smaller;
}

.foot a{
    text-decoration: none;
    color: #8D74F4;
    font-weight: 500;
}