.logincontainer{
    width: 23rem;
    height: 40rem;
    padding: 1.5rem;
    border: 1px solid ;
    border-radius: 12px;
    margin: auto auto;
}

.heading{
    text-align: center;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.7rem;
    clear: right;
    margin-bottom: 2rem;
}

.icon{
    float: right;
    margin-bottom: 2.5rem;
}

.phonebutton, .mailbutton{
   border: none;
   background-color: white;
   color: #797979;
   font-size: 1rem;
   margin-bottom: 1rem;
}

.phonebutton{
    margin-right: 2rem;
}

.label{
    font-size: 1rem;
    color: #797979;
}

#phoneno, #password{
    background-color: #F3F3F3;
    width: 20rem;
    padding: 1rem;
    height: 3.5rem;
    border-radius: 12px;
    border: none;
}

#phoneno::placeholder, #password::placeholder{
    color: rgba(121, 121, 121, 0.5);
}

.checkboxcontainer{
    display: flex;
    justify-content: space-between; 
    margin: 2rem auto;   
}

#checkbox{
    margin-right: 0.5rem;
}

#login{
    padding: 1rem 8rem ;
    color: white;
    font-size: 1rem;
    text-align: center;
    margin: 0 auto;
    border: none;
    border-radius: 12px;
    background-color: #8D74F4;
    display: block;
    height: 3rem;
    margin-bottom: 2rem;
}



/* Style the tab buttons */
.tablink {
    background-color: white;
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 15%;
  }
  
  /* Change background color of buttons on hover */
  .tablink:hover {
    background-color: #777;
  }
  
  /* Set default styles for tab content */
  .tabcontent {
    color: black;
    display: none;
    padding: 50px;
 
  }