.label{
    font-size: 0.75rem;
    color: #797979;
}

.tabinput, #password{
    background-color: #F3F3F3;
    width: 14rem;
    padding: 1rem;
    height: 3rem;
    border-radius: 12px;
    border: none;
    margin-top: 0.75rem;
}

.tabinput{
    margin-bottom: 1rem;
}
.tabinput::placeholder {
    color: rgba(121, 121, 121, 0.5);
}



.label{
    font-size: 0.75rem;
    color: #797979;
    
}

#password::placeholder{
    color: rgba(121, 121, 121, 0.5);
}

.checkboxcontainer{
    display: flex;
    justify-content: space-between; 
    margin: 1rem auto; 
    align-items: center; 
}

.checkboxcontainer div{
    display: flex;
    align-items: center;
}

#checkbox{
    margin-right: 0.5rem;
}

.span, .span2{
    font-size: 0.75rem; 
}

.span2{ 
    cursor: pointer;
}
#login{
    padding: 1rem 4rem ;
    color: white;
    font-size: 1rem;
    text-align: center;
    margin: 0 auto;
    border: none;
    border-radius: 12px;
    background-color: #8D74F4;
    display: block;
    margin-bottom: 1rem;
    cursor: pointer;
}

.foot{
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding: 0 0.5rem;
}

.foot span{
    font-size: 0.75rem;
}

.foot a{
    text-decoration: none;
    color: #8D74F4;
    font-weight: 500;
    font-size: 0.8rem;

}
