.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-bottom: 1px solid rgb(201, 197, 197);
}

.left, .right{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.right img{
    padding: 0 1rem;
    cursor: pointer;
}

.right button{
    margin: 0 1rem;
}
.header{
    font-size: 2rem;
    font-weight: 700;
    color: #8D74F4;
    padding: 0 1rem;
}

#login, #signup{
    padding: 0.75rem 1.5rem;
    border-radius: 10px;
    border-color: #8D74F4 ;
    background-color: white;
    color: #8D74F4;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
}

#login:hover, #signup:hover{
    background-color: #8D74F4 ;
    color: white ;
}

/* Mobile viewport */

@media screen and (max-width: 768px) {
    .header{
        font-size: 1.5rem;  
    }
    .right{
        display: none;
    }
    .left img{
        width: 2rem;
    }
    .navbar{
        border-bottom: none;
        padding: 2rem;
    }
    
}

@media screen and (max-width: 400px) {
    .header{
        font-size: 1.25rem;  
    }
    .left img{
        width: 1.8rem;
    }
}