.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-bottom: 1px solid rgb(201, 197, 197);
}

.left, .right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right img{
    padding: 0 1rem;
    cursor: pointer;
}

.header{
    font-size: 2rem;
    font-weight: 700;
    color: #8D74F4;
    padding: 0 1rem;
}

.login{
    padding: 0.75rem 1.5rem;
    border-radius: 10px;
    border-color: #8D74F4 ;
    background-color: white;
    color: #8D74F4;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
}

.login:hover{
    background-color: #8D74F4 ;
    color: white ;
}