.maincontainer{
    background-color: #F9F9F9;
}

/* Style for navbar component */
.navbar{
    background-color: white;
}

/* Style for sidenav component */

.mysidenav{
    position: absolute;
    left: 0;
    background-color: white;
}

/* Style for Calendar component */

.calendarcontainer{
    margin-left: 12rem;
}

/* Style for input button */

.inputcontainer{
    display: flex;
    flex-wrap: wrap;
    margin-left: 15rem;
    margin-top: 1rem;
}

#search{
    width: 55rem;
    padding: 0.75rem;
    border-radius: 5px;
    border: none;
    
    background-color: #F9F9F9;
}

.button{
    padding: 0.75rem 1rem;
    background-color: #8D74F4;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border-color: white;
    text-align: center;
    width: 8rem;
}

.button img{
    width: 1rem;
    margin-right: 0.5rem;
}